.App {
  /* text-align: center; */
  overflow: hidden;
  height: 100vh
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.message-box{
  max-width: 140px;
  white-space: nowrap;      /* 禁止换行 */
  overflow: hidden;         /* 隐藏超出容器的部分 */
  text-overflow: ellipsis;  /* 溢出显示省略号 */
}