.pie-card .ant-pro-card-body {
    padding: 0px 16px !important;
}




/* 小屏幕样式（屏幕宽度小于 768px） */
@media (max-width: 767px) {
    .row-col-bottom {
        border-bottom: 1px solid var(--border-color) !important;
    }
}
  
@media (min-width: 768px) {
    .row-col-right {
        padding-right: 0px !important;
    }
    .row-col-left {
        padding-left: 0px !important;
    }
}

.dashboard-container .ant-statistic-content-prefix {
    color: #433bbb;
}

.dashboard-container .ant-statistic-content-value{
    color: #433bbb;
}